<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/chill-seeker" class="collection--filter-bar-link">All</a>  
</li>
<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/chill-seeker/jacket" class="collection--filter-bar-link">Jackets</a>  
</li>
<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/chill-seeker/tee" class="collection--filter-bar-link">Tees</a>  
</li>
<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/chill-seeker/hat" class="collection--filter-bar-link">Hats</a>  
</li>