{% comment %}
      {% unless collection.title == 'Reflective' %}
      {% if product.tags contains 'Reflective' %}
      <div class="collection-icon">
        <a href="/collections/reflective">
        	<img src="{{ 'REFLECTIVE_BLACK.png' | asset_url }}">
        </a>
      </div>      
      {% endif %} 
      {% endunless %}
      {% endcomment %}