
  <div id="store-messages">  
    <div>
      <div class="message">
        <a href="pages/shipping-and-returns">
          <p class="free">Free Shipping | Free Returns<p>
        </a>
        <div class="search-icon">
          <a href="/search" class="icon-fallback-text">
            <span class="icon icon-search" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
    	  </a>
        </div>
        <div class="cart-right">
          <a href="/cart" class="js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            <span class="icon-fallback-text">
              <span class="icon icon-cart" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>