<div class="desktop-nav">
  <div class="desktop-nav--logo">
    <a href="/" itemprop="url">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
    </a>
  </div>
  <nav class="desktop-nav--holder" role="navigation">
    {% include 'desktop-nav--bar' %}
  </nav>
</div>

