<ul class="desktop-dropdown--columns no-bullets">
  <li class="desktop-dropdown--columns-list">
    <a>Tops</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.mens-tops.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
  <li class="desktop-dropdown--columns-list">
    <a>Bottoms</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.mens-bottoms.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
  <li class="desktop-dropdown--columns-list">
    <a>Collections</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.mens-collections.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>
