<ul class="desktop-dropdown--columns no-bullets">
  <li class="desktop-dropdown--columns-list">
    <a href="/blogs/motion">Motion</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.motion.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
  <li class="desktop-dropdown--columns-list">
    <a href="/pages/shoppable-instagram">Shop Our Instagram</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.lookbooks.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
  <li class="desktop-dropdown--columns-list">
    <a>Happenings</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.happenings.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>