<ul class="no-bullets footer-nav--column">
  <li class="footer-nav--column-list" aria-haspopup="true">
    <a href="/collections/womens" class="footer-nav--list-link">Discover</a>
  <ul class="footer-nav--sub no-bullets">
    <li class="footer-nav--sub-list">
      <a href="/collections/headwear">Blog</a>
    </li>
    <li class="footer-nav--sub-list">
      <a href="/collections/bags">Motion</a>
    </li>
    <li class="footer-nav--sub-list">
      <a href="/collections/other-accessories">Lookbooks</a>
    </li>
</ul>
  </li>
</ul>