<ul class="no-bullets footer-nav--column">
  <li class="footer-nav--column-list" aria-haspopup="true">
    <a href="/collections/mens" class="footer-nav--list-link">Mens</a>
    <ul class="footer-nav--sub no-bullets">
      <li class="footer-nav--sub-list">
        <a href="/collections/mens-tops">Tops</a>
      </li>
      <li class="footer-nav--sub-list">
        <a href="/collections/mens-bottoms">Bottoms</a>
      </li>
      <li class="footer-nav--sub-list">
        <a href="/collections/mens-collections">Collections</a>
      </li>
    </ul>
  </li>
</ul>
