<ul class="no-bullets footer-nav--column first">
  <li class="footer-nav--column-list" aria-haspopup="true">
    <a href="/" itemprop="url">
  	  <img class="footer-logo" src="{{ 'mobile-logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
	</a>
  	<ul class="footer-nav--sub no-bullets">
  	  <li class="footer-nav--sub-list">
  	    <a href="mailto:{{ shop.email_url }}">Email Us</a>
  	  </li>
  	  <li class="footer-nav--sub-list"><a href="tel:(844)%20786-8619" value="+18447868619" target="_blank" rel="noopener noreferrer">1-844-786-8619</a> </li>
  	  <li class="footer-nav--sub-list">Mon-Fri 9-5 PST</li>
  	</ul>
  </li>
</ul>  


    
   