<div class="grid__item footer-menu medium-down--hide">
  {% include 'footer-menu--contact' %}
  {% include 'footer-menu--customer-service' %}
  {% include 'footer-menu--get-connected' %}
</div>

<div class="large--hide medium-down--show">
  {% include 'mobile-footer-menu--contact' %}
  {% include 'mobile-footer-menu--get-connected' %}  
</div>
