<ul class="no-bullets footer-nav--column">
  <li class="footer-nav--column-list" aria-haspopup="true">
    <a class="footer-nav--list-link">Customer Service</a>
    <ul class="footer-nav--sub no-bullets">
      <li class="footer-nav--sub-list">
        <a href="/pages/contact-us">Contact Us</a>
      </li>
      <li class="footer-nav--sub-list">
        <a href="/pages/shipping-and-returns">Shipping & Returns</a>
      </li>
  </ul>
  </li>
</ul>