<div class="grid--full  banner-full">
  <div class="overlay">
    <a href="/collections/fall-17">
    <div class="border homepage--banner-full-image">
      <div class="banner-full-text">
        <h2 class="btn--secondary medium-down--hide">Fall 17 Collection</h2>
          <button class="btn--secondary large--hide"><span class="large--hide">Fall 17 Collection</span>{% comment %}<span class="medium-down--hide">Shop Now</span>{% endcomment %}</button> 
      </div>
    </div>  
    </a>
  </div>
</div>


