<div class="grid--full banner-text">
  <div class="grid__item banner-text-padding border">       
    <img class="banner-text-logo" src="{{ 'Never-Est.png' | asset_url }}" itemprop="logo">
    <a class="grid__item no-padding" href="pages/our-story">
      <button class="btn">See Our Story</button> 
    </a>
  </div>
</div>