<div class="grid--full medium-down--hide">
  <div class="grid__item large--one-third medium--full border-left third">
    <div class="homepage--left-third">      
      <div class="overlay"> 
        <a href="/collections/chill-seeker">
          <div class="third-text">
          	<h4 class="btn--secondary">Chill Seeker</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
   <div class="grid__item large--one-third medium--full border third">
    <div class="homepage--center-third">      
      <div class="overlay"> 
        <a href="/collections/jackets">
          <div class="third-text">
          	<h4 class="btn--secondary">Mens Jackets</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item large--one-third medium--full right border-right third">
    <div class="homepage--right-third">
      <div class="overlay"> 
        <a href="/collections/shirts/woven">
          <div class="third-text">
          	<h4 class="btn--secondary">Mens Wovens</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
</div> 

<div class="grid--full large--hide">
  <div class="grid__item">
    <ul class="mobile--slider">
      <li>
        <div class="homepage--left-third">
          <div class="overlay"> 
            <a href="/collections/chill-seeker">
              <div class="third-text">
          	    <h4 class="btn--secondary">Chill Seeker</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  	  </div>
        	</a>
      	  </div>
        </div>
      </li>
      <li>
        <div class="homepage--center-third">
          <div class="overlay"> 
            <a href="/collections/jackets">
              <div class="third-text">
          	    <h4 class="btn--secondary">Mens Jackets</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  	  </div>
        	</a>
      	  </div>
        </div>
      </li>
      <li>
        <div class="homepage--right-third">
          <div class="overlay"> 
            <a href="/collections/shirts/woven">
              <div class="third-text">
          	    <h4 class="btn--secondary">Mens Wovens</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  	  </div>
        	</a>
      	  </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script> 
  $('.mobile--slider').slick({
  slidesToShow: 1,
  fade: true,
});
</script>
