<div class="grid--full">
  <div class="grid__item large--one-half medium--full border-left-square left square">
    <div class="homepage--left-half">      
      <div class="overlay"> 
        <a href="/collections/mens">
          <div class="square-text">
          	<h4 class="btn--secondary">Mens</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item large--one-half medium--full right border-right-square square">
    <div class="homepage--right-half">
      <div class="overlay"> 
        <a href="/collections/womens">
          <div class="square-text">
          	<h4 class=" btn--secondary">Womens</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
</div> 