{% comment %} Banner Full {% endcomment %}

<div class="grid--full  banner-full">
  <div class="overlay">
    <a href="/collections/fall-17">
    <div class="border homepage--banner-full-image">
      <div class="banner-full-text">
        <h2 class="btn--secondary medium-down--hide">Fall 17 Collection</h2>
          <button class="btn--secondary large--hide"><span class="large--hide">Fall 17 Collection</span>{% comment %}<span class="medium-down--hide">Shop Now</span>{% endcomment %}</button> 
      </div>
    </div>  
    </a>
  </div>
</div>

{% comment %} Banner Halves {% endcomment %}

<div class="grid--full">
  <div class="grid__item large--one-half medium--full border-left-square left square">
    <div class="homepage--left-half">      
      <div class="overlay"> 
        <a href="/collections/mens">
          <div class="square-text">
            <h4 class="btn--secondary">Mens</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item large--one-half medium--full right border-right-square square">
    <div class="homepage--right-half">
      <div class="overlay"> 
        <a href="/collections/womens">
          <div class="square-text">
            <h4 class=" btn--secondary">Womens</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
          </div>
        </a>
      </div>
    </div>
  </div>
</div> 

<div class="grid--full medium-down--hide">
  <div class="grid__item large--one-third medium--full border-left third">
    <div class="homepage--left-third">      
      <div class="overlay"> 
        <a href="/collections/chill-seeker">
          <div class="third-text">
            <h4 class="btn--secondary">Chill Seeker</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
          </div>
        </a>
      </div>
    </div>
  </div>
   <div class="grid__item large--one-third medium--full border third">
    <div class="homepage--center-third">      
      <div class="overlay"> 
        <a href="/collections/jackets">
          <div class="third-text">
            <h4 class="btn--secondary">Mens Jackets</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item large--one-third medium--full right border-right third">
    <div class="homepage--right-third">
      <div class="overlay"> 
        <a href="/collections/shirts/woven">
          <div class="third-text">
            <h4 class="btn--secondary">Mens Wovens</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
          </div>
        </a>
      </div>
    </div>
  </div>
</div> 

{% comment %} Banner Thirds {% endcomment %}

<div class="grid--full large--hide">
  <div class="grid__item">
    <ul class="mobile--slider">
      <li>
        <div class="homepage--left-third">
          <div class="overlay"> 
            <a href="/collections/chill-seeker">
              <div class="third-text">
                <h4 class="btn--secondary">Chill Seeker</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
              </div>
          </a>
          </div>
        </div>
      </li>
      <li>
        <div class="homepage--center-third">
          <div class="overlay"> 
            <a href="/collections/jackets">
              <div class="third-text">
                <h4 class="btn--secondary">Mens Jackets</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
              </div>
          </a>
          </div>
        </div>
      </li>
      <li>
        <div class="homepage--right-third">
          <div class="overlay"> 
            <a href="/collections/shirts/woven">
              <div class="third-text">
                <h4 class="btn--secondary">Mens Wovens</h4>
            {% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
              </div>
          </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script> 
  $('.mobile--slider').slick({
  slidesToShow: 1,
  fade: true,
});
</script>

{% comment %} Banner Text {% endcomment %}

<div class="grid--full banner-text">
  <div class="grid__item banner-text-padding border">       
    <img class="banner-text-logo" src="{{ 'Never-Est.png' | asset_url }}" itemprop="logo">
    <a class="grid__item no-padding" href="pages/our-story">
      <button class="btn">See Our Story</button> 
    </a>
  </div>
</div>



