<div class="grid__item no-padding footer-contact">
  <ul class="no-bullets footer-nav--sub-list">
    <li class="footer-logo">
      <a href="/" itemprop="url">
        <img src="{{ 'mobile-logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
      </a>
    </li>
    <li>{{ shop.email }}</li>
    <li>253-779-4400</li>
    <li>Mon-Fri 9-5 PST</li>
  </ul>
</div>




