{% if product.tags contains 'ACT 1' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'ACT 2' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'ACT 3' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'ACT 4' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Classic Fit' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Classic Long Fit' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Tailored Fit' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Slim Fit' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Tailored Slim Fit' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Core Fit' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Strata HD 10' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains 'Strata HD 15' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>
{% endif %}
{% if product.tags contains '37.5' %}
	<a href="">
		<li>
			<img>
		</li>
	</a>{
{% endif %}