  <div class="padding">
<meta charset="utf-8" />
<div class="shipping-policy">
<h2>Shipping Policy</h2>
<div class="shipping-policy-info">
<h4>Free Domestic Shipping</h4>
<ul>
<li>All US orders to the lower 48 states are 100% free</li>
<li>AK and HI will have a $5 service fee</li>
<li>Free shipping will be sent either FedEx Ground or USPS</li>
</ul>
<h4>All International orders over $125 will be eligible for free shipping</h4>
<h5>Do you ship to my country?</h5>
<ul>
<li>If you don't see your country listed <a href="/pages/contact-us">CONTACT US</a>. We ship around the world</li>
</ul>
<h5>When will my order ship?</h5>
<ul>
<li>Orders received by 12 PM PST will ship the same day</li>
<li>All other orders will ship by the following day</li>
<li>Orders are not processed on the weekends</li>
<li>Friday after 12 PM PST is considered weekend orders</li>
</ul>
<h5>How can I track my order?</h5>
<ul>
<li>Tracking numbers will be emailed to you at the time of the shipment</li>
<li>You will be sent to our tracking page where you can also receive text or Facebook messenger updates on your shipment</li>
</ul>
</div>
</div>
<div class="return-policy">
<h2>Return Policy</h2>
<div class="return-policy-info">
<h4>Free returns within 30 days</h4>
<ul>
<li>If you are not satisfied with your online purchase you may return items free of charge within 30 days of original purchase</li>
<li>To qualify for a refund, items must be returned in original, unused condition with original tagging</li>
<li>A return label will be provided with your order</li>
<li>After 60 days if your item is defective for any reason we will exchange it for free up to 60 days from the time of the purchase</li>
</ul>
</div>
</div>
<p><strong>Please contact us at <a href="tel:(844)%20786-8619" value="+18447868619" target="_blank" rel="noopener noreferrer">1-844-786-8619</a> with any questions regarding your order or email us at <a href="mailto:customersupport@imperialmotion.com">customersupport@imperialmotion.com</a></strong></p>
  </div>