<div class="grid--full">
  <div class="grid__item product--promo-container promo--border medium-down--hide">
    <div class="product--promo-image" style="background: url(https://cdn.shopify.com/s/files/1/1968/8409/files/FILLMORE-REFLECTIVE-A_1.jpg?14706319466076503069) no-repeat center center; background-size: cover;">
      <div class="overlay"> 
        <a href="/products/fillmore-reflective-backpack">
          <div class="product--promo-info">
		    <p class="h4 btn--secondary">Fillmore Reflective Backpack</p>            
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
