<ul class="desktop-dropdown--columns no-bullets">
  <li class="desktop-dropdown--columns-list">
    <a>Headwear</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.headwear.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
  <li class="desktop-dropdown--columns-list">
    <a href="/collections/backpacks-and-bags">Backpacks & Bags</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.backpacks-bags.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
  <li class="desktop-dropdown--columns-list">
    <a href="/collections/other-accessories">Other</a>
    <ul class="desktop-dropdown--child no-bullets">
      {% for link in linklists.other-accessories.links %}
      <li class="desktop-dropdown--child-list">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>