<ul class="desktop-nav--bar" id="AccessibleNav">
  <li class="desktop-nav--list" aria-haspopup="true">
    <a href="/collections/mens" class="desktop-nav--list-link">Mens</a>
    <div class="desktop-dropdown">
      {% include 'desktop-nav--bar-mens' %}
    </div>
  </li>
  <li class="desktop-nav--list" aria-haspopup="true">
    <a href="/collections/womens" class="desktop-nav--list-link">Womens</a>
    <div class="desktop-dropdown">
      {% include 'desktop-nav--bar-womens' %}
    </div>
  </li>
  <li class="desktop-nav--list" aria-haspopup="true">
    <a class="desktop-nav--list-link">Accessories</a>
    <div class="desktop-dropdown">
      {% include 'desktop-nav--bar-accessories' %}
    </div>
  </li>   
  <li class="desktop-nav--list" aria-haspopup="true">
    <a class="desktop-nav--list-link">Discover</a>
    <div class="desktop-dropdown">
      {% include 'desktop-nav--bar-discover' %}
    </div>
  </li> 
  <li class="desktop-nav--list" aria-haspopup="true">
    <a class="desktop-nav--list-link">About Us</a>
    <div class="desktop-dropdown">
      {% include 'desktop-nav--bar-more' %}
    </div>
  </li>
</ul>
{% comment %}
<script>
$('.desktop-nav--list').hover(
  function(){
    $(this).find('ul').show();
  },
  function(){
    $(this).find('ul').delay(5000).hide();
  }
);
</script>

{% endcomment %}