<li class="mobile-nav__item">
  <form action="/search" method="get" class="input-group mobile-nav--search-bar" role="search">
    {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
  </form>
</li>