<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/womens-tees-and-tanks" class="collection--filter-bar-link">All</a> 
</li>
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/womens-tees-and-tanks/tee" class="collection--filter-bar-link">Tees</a>
</li>
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/womens-tees-and-tanks/tank" class="collection--filter-bar-link">Tanks</a>
</li>
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/womens-tees-and-tanks/muscle" class="collection--filter-bar-link">Muscle Tees</a>
</li>

<li class="collection--filter-list-mobile medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Style</option>     
    {% for link in linklists.filter-womens-tees.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

