<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/backpacks-and-bags" class="collection--filter-bar-link">All</a>  
</li>
<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/backpacks-and-bags/backpack" class="collection--filter-bar-link">Backpacks</a>  
</li>
<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/backpacks-and-bags/bag" class="collection--filter-bar-link">Bags</a>  
</li>