<ul class="no-bullets footer-nav--column">
  <li class="footer-nav--column-list" aria-haspopup="true">
    <a href="/collections/womens" class="footer-nav--list-link">Womens</a>
    <ul class="footer-nav--sub no-bullets">
      <li class="footer-nav--sub-list">
        <a href="/collections/womens-tops">Tops</a>
      </li>
      <li class="footer-nav--sub-list">
        <a href="/collections/womens-Swim">Swim</a>
      </li>
      <li class="footer-nav--sub-list">
        <a href="/collections/womens-collections">Collections</a>
      </li>
  </ul>
  </li>
</ul>