<ul class="no-bullets footer-nav--column">
  <li class="footer-nav--column-list" aria-haspopup="true">
    <a href="/collections/womens" class="footer-nav--list-link">Accessories</a>
  	<ul class="footer-nav--sub no-bullets">
  	  <li class="footer-nav--sub-list">
  	    <a href="/collections/headwear">Headwear</a>
  	  </li>
  	  <li class="footer-nav--sub-list">
  	    <a href="/collections/bags">Bags</a>
  	  </li>
  	  <li class="footer-nav--sub-list">
  	    <a href="/collections/other-accessories">other</a>
  	  </li>
  	</ul>
  </li>
</ul>