<!-- /templates/page.liquid -->

{% for i in (1..30) %}
  {% assign lbKey = 'blog-image-' | append:i %}
  {% assign lbMetafield = article.metafields.c_f[lbKey] %}
  {% if lbMetafield == blank %}{% continue %}{% endif %}
<div class="grid--full border--lookbook">
  <div class="grid__item push--large--one-quarter large--one-half ">
    <img src="{{ lbMetafield }}">
  </div>
</div>
{% endfor %}

