<!-- /templates/page.liquid -->
<div class="grid--full">
  <div class="grid__item">
    <img class="disposable" src="{{ 'disposable.jpg' | asset_img_url: 'original' }}">
  </div>
</div>
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half text-center">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
  </div>
</div>
<div class="grid--full your-class">
  {% for i in (1..30) %}
  {% assign lbKey = 'blog-image-' | append:i %}
  {% assign lbMetafield = article.metafields.c_f[lbKey] %}
  {% if lbMetafield == blank %}{% continue %}{% endif %}
  <div class="grid--full"><img class="grid__item" src="{{ lbMetafield }}"></div>
  {% endfor %}
</div>

{% comment %}
<div class="grid">
  <div class="grid__item one-half left text-right">
    <button class="prev btn">Previous</button>
  </div>
  <div class="grid__item one-half right text-left">
    <button class="next btn">Next</button>
  </div>
</div>





<script>
  $('.your-class').slick({
  prevArrow: $('.prev'),
  nextArrow: $('.next'),
  });

</script>

{% endcomment %}


