<!-- /templates/blog.liquid -->
{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}

<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half text-center border-blog">
    <h2>{{ blog.title }}</h2>
  </div>
</div>
<div class="grid--full">
  <div class="grid__item">
    <ul class="grid--full blog--affiliate no-bullets">
      {% for article in blog.articles %}
      <li class="grid__item large--one-quarter border--affiliate">
        <a class="blog--affiliate-link" {% comment %} href="{{ article.url }}" {% endcomment %}>
          <div class="blog--affiliate-image" style="background: url({{ article | img_url: 'large' }}) no-repeat top center; background-size: cover;"></div>
          <div class="blog--affiliate-info">
              <h3>{{ article.title }}</h3>
          </div>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
    {% endfor %}
    </ul>     
  </div>
</div>