<!-- /templates/page.liquid -->
<div class="grid--full instagram-full">
  <div class="grid__item border--lookbook homepage--instagram-full-image">
    <div class="text-center instagram-full-text">
      <h1 class="banner-title btn--secondary">Shop Our Instagram</h1>
    </div>
  </div>        
</div>
<div class="grid--full">
  <div class="grid__item border-blog">
	<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="imperial-motion" data-theme="lookbook_v2_5"></script><style>.fs-has-links::after {  padding:  25px 37.5px; border: 2px solid #fff; color:#fff; content: "SHOP NOW";  }.fs-has-links:hover:after { background-color: #fff; color: rgba(108, 108, 108, 0.8)}.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Helvetica Neue;font-style:normal;font-weight:bold;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(108, 108, 108, 0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-service-icon{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 5px }</style>
  </div>
</div>